@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>京江书店</h1>
    <p class="lead">欢迎光临京江书店，这是一家属于大学生的书店。</p>
    <p><a href="~/WebForm1.aspx" class="btn btn-primary btn-lg">随便逛逛 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>C++程序教程</h2>
        <p>
          <div> <img alt="图片显示失败" src="~/Image/C.jpg" width="191" height="201"/></div>
        </p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">了解更多 &raquo;</a></p>
</div>
    <div class="col-md-4">
        <h2>ASP程序教程</h2>
        <p>
            <div><a href="~/WebForm1.aspx" ><img alt="图片显示失败" src="~/Image/ASP程序教程.jpg" width="191" height="201" /></a></div>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>数据结构</h2>
        <p> <div> <img alt="图片显示失败" src="~/Image/数据结构.jpg" width="191" height="201" /></div></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">了解更多 &raquo;</a></p>
    </div>
</div>